/* #center {
  text-align: center;
} */
/* .sidenav{
  background-color: #333;
  height: 100vh;
}

#center {
  text-align: center;
}

p {
  color: #00BCD6;
  font-size: medium;
  text-align: center;
}
hr{
  border: 0;
  height: 1px;
  background: rgb(198, 196, 196);
}
.line {
  border-left: 1px solid grey;
}
#info {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 10px;
} */
