* {
  box-sizing: border-box;
}
body {
  background-image: url(./images/loginblur.jpg);
}
h1 {
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: underline;
}
.container {
  background: transparent;
  margin: auto;
  margin-top: 20vh;
  width: 40vw;
  padding: 10px;
}
.conatiner .login {
  width: 90%;
  padding: 15px;
}
.login label {
  color: white;
}
.login input[type="text"],
input[type="password"],
input[type="email"] {
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  color: white;
  width: 100%;
  padding: 2%;
  margin-bottom: 2%;
  font-size: 1.2rem;
}
.login .btn {
  margin-top: 2%;
  padding: 8px 32px;
  background-color: forestgreen;
  color: white;
  border: none;
  width: 100%;
  cursor: pointer;
}
.login .btn:hover {
  background-color: darkolivegreen;
  color: white;
}
.login .reg a {
  margin-top: 2%;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
}
.login .reg a:hover {
  color: darkgreen;
}
.login .reg #signup {
}
@media (max-width: 720px) {
  .container {
    height: 200vw;
    width: 100vw;
    margin: 0px;
  }
  .login input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 2%;
    margin-bottom: 3%;
  }
}
